
    <div class="col-xs-3">
        <div class="panel panel-default">
          <%= image_tag product.image_url, :class => "img-responsive"%>
          <div>
            <%= link_to product.name, show_path(product) %>
          </div>
          <div>
            <%= product.description %>
          </div>
          <div>
            <%= product.price %>
          </div>
        </div>
    </div>
